.heading-menu
    color: rgb(96, 90, 81)
    text-align: center

    .spn-menu
        color: rgb(255, 160, 18)

.Div
    display: flex
    align-items: center
    gap: 20vw
    p 
        padding-top: 10px
        font-size: 20px
.container
    display: flex
    gap: 10vw
    margin-left: 5vw
.spn-contact
    color: rgb(255, 160, 18)


    
    